body {
  color: rgb(29, 54, 73);
  background: linear-gradient(
    to bottom,
    rgb(255, 252, 234) 0%,
    rgb(242, 231, 181) 100%
  );
  font-size: 20px;
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  height: 100vh;
}

h2,
h3 {
  margin-top: 40px;
}

h4 {
  margin-bottom: 7px;
}

a {
  color: rgb(29, 54, 73);
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.logo {
  height: 200px;
}

.start-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 20vh 20vh 10vh 5vh;
  grid-gap: 10px;
  grid-template-areas:
    'nav nav nav nav nav'
    'basics basics basics basics .'
    'main main main main main'
    'blog blog blog blog blog'
    'footer footer footer footer footer';
}

.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 60vh 5vh;
  grid-gap: 10px;
  grid-template-areas:
    'nav nav nav nav nav'
    'contact-form contact-form contact-form contact-form contact-form'
    'footer footer footer footer footer';
}

.doctors-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 60vh 5vh;
  grid-gap: 5px;
  grid-template-areas:
    'nav nav nav nav nav'
    'doctors doctors doctors doctors doctors'
    'footer footer footer footer footer';
}

.about-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 60vh 5vh;
  grid-gap: 10px;
  grid-template-areas:
    'nav nav nav nav nav'
    'about about about about about'
    'footer footer footer footer footer';
}

.hours-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 60vh 5vh;
  grid-gap: 10px;
  grid-template-areas:
    'nav nav nav nav nav'
    'hours hours hours hours hours'
    'footer footer footer footer footer';
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid white;
}

.basics {
  grid-area: basics;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.small-button {
  height: 70px;
  width: 30%;
  background: rgb(160, 157, 179);
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 25px 6px;
  border-radius: 8px;
}

.small-button:hover {
  background: rgb(170, 167, 187);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  grid-area: main;
  margin-top: 30px;
}

.blog {
  grid-area: blog;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.big-button {
  width: 50%;
  height: 70px;
  background: rgb(160, 157, 179);
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin: 7px;
  border-radius: 8px;
}

.big-button:hover {
  background: rgb(170, 167, 187);
}

.h1-responsive {
  font-size: 32px;
}

.hours {
  margin: 20px;
  width: 90%;
  grid-area: hours;
}

.contact-form {
  margin: 0px 50px;
  grid-area: contact-form;
}

.team-section {
  padding: 0px 10px;
  grid-area: team-section;
}

.footer {
  grid-area: footer;
}
